.item{
  margin-bottom: 0;
  padding:5px 0;
  border-bottom:1px solid #ccc;
}
.item:last-child{
  border-bottom:none;
}
.item dt{
  font-size: 15px;
}
.item dt span{
  color: rgba(0,219,255,1);
}
.item button{
  float: right;
  margin-top:5px;
  width: 60px;
  height: 23px;
  line-height: 23px;
  border-radius: 5px;
  background: #fff;
  color: rgba(0,219,255,1);
  font-size: 12px;
  border: 1px solid rgba(0,219,255,1);
}
.item dd{
  text-indent:1em;
}